.packsContainer {
    width: 85%;
    margin: 0 auto;
}
.headerPacks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 39px;
}
.header {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}
.buttonAddNewPack {
    background: #366EFF;
    box-shadow: 0px 4px 18px rgba(54, 110, 255, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    padding: 8px 28px;
    border: none;
}
.newPackInput{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    height: 36px;
    padding-left: 15px;
}
.settingsBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.description {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #000000;
}
.searchInputWrapper {
    display: inline-flex;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
}
.searchInput {
    width: 413px;
    height: 36px;
    left: 136px;
    top: 192px;
    border: none;
}
.searchInput:focus {
    outline: none;
}
.searchIcon {
    width: 18px;
    align-self: center;
    order: -1;
}
.buttonShowPack {
    width: 96px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-left: -0.5px;
    cursor: pointer;
}
.activeButton {
    background: #366EFF;
    color: white;
}
.sliderWrapper {
    display: flex;
}
.sliderValue {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.slider {
    margin-left: 10px;
    margin-right: 10px;
}
.buttonReset {
    width: 40px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 2px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.tableHead {
    background-color: #eae5e5;
}
.headersTable {
    cursor: pointer;
}
.tableButton {
    border: none;
    background: #FFFFFF;
    cursor: pointer;
    margin-right: 10px;
}
.tableButton img {
    width: 17px;
}
.paginationBlock {
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.paginationDescription {
    margin-left: 30px;
    display: flex;
    align-items: center;

}